.container {
  padding: 1em;
  height: 100%;
}

.portrait {
  margin-top: 2em;
  margin-bottom: 1em;
  height: 10em;
  border-radius: 50%;
  border: 0.1em solid white;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgba(255, 255, 255, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 2.5s 1s steps(40, end) forwards,
    blink-caret 1s step-end 1s 3 normal forwards;
  width: 0;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 255, 255, 1); }
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

a:hover {
  font-weight: normal;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bio {
  opacity: 0;
  margin-top: 2em;
  padding: 0 1em;
  animation:
    appear 2s ease 2.2s forwards;
}

.brandButtons {
  margin-top: 3em;
  margin-bottom: 2em;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 0;
  animation:
    appear 2s ease 2.8s forwards;

  a {
    border-radius: 50%;
    background-color: white;
    padding: 2em;
    margin: 0 0.5em;
  };

  a:hover {
    background-color: rgb(191, 191, 191) !important;
  }
}